/* colors */

h1 {
  color: Black;
  font-weight: bold;
}


h3 {
      color: Gold;
}


p, h5, ul {
      color: darkgrey;
}


h4, h5 {
      color: dimgray;
      line-height:0.1em;
}

/*fonts*/

* {
  font-family: Helvetica;
  )
  

  
