.actions a {
  display: inline-block;
  text-align: left;
 color: dimgray;  
 font-weight: 100; 
 font-family: 'Quicksand';
}


/* colors */

h1 {
  color: Black;
  
}

/*yellow subheading*/
h3 {
      color: Gold;
}

h5 {
    font-style: italic;
  }

  
.contact {
   font-style: normal;
   
}
  

/*paragraph, date, bullet point*/
p, h5, ul {
      color: darkgrey;
       font-weight: 100;  
}

/*company & date*/
h4, h5 {
      color: dimgray;
      line-height:0.1em;
}

/*fonts*/

* {
  font-family: 'Quicksand';
  )
  

 

  
