.actions {
  text-align: center;
  margin-top: 30px;
}

.actions a {
  background-color: #9DD1F1;
  border-radius: 3px;
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* colors */

h1 {
  color: Black;
  
}

/*yellow subheading*/
h3 {
      color: Gold;
}

h5 {
    font-style: italic;
  }

  
.contact {
   font-style: normal;
   
}
  

/*paragraph, date, bullet point*/
p, h5, ul {
      color: darkgrey;
       font-weight: 100;  
}

/*company & date*/
h4, h5 {
      color: dimgray;
      line-height:0.1em;
}

/*fonts*/

* {
  font-family: 'Quicksand';
  )
  

 

  
